<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
     
    </script> 
</head>
<body>
    <section id="acercade">
        <h1>About Us</h1>
        <p>Welcome to our website! We are a team of passionate individuals dedicated to providing high-quality products and services.</p>
        <p>Our mission is to exceed customer expectations and deliver innovative solutions that make a positive impact.</p>
    </section>
    <button onclick="enrutamiento1()">Volver a la página principal</button>
    <script src="/scripts/index.js" type="module"></script>
</body>
</html>