<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        // Funcion para enrutar a la página principal
        function enrutamiento1() {
            window.location.href = '/index.html';
        }
    </script> 
</head>
<body>
    <section id="contacto">
        <h1>Contacto</h1>
        <p>+34 948 69 23 80</p>
        <p>30 Plaza Sarasate 2 Azagra (Navarra), 31560</p>
        <p>info@la-panadera.com</p>
        <p><a href="www.la-panadera.com">www.la-panadera.com</a></p>
        <p>Política de privacidad</p>
        <button onclick="enrutamiento1()">Volver a la página principal</button>
    </section>
    
</body>
</html>