<!DOCTYPE html>
<html>
<head>
    <title>Menú de Repostería Casera</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Menú de Repostería Casera</h1>
    <ul>
        <li>Tarta de Manzana</li>
        <img src="/assets/images/tartaManza.jpg" alt="Tarta de Manzana">
        <li>Tarta de queso</li>
        <img src="/assets/images/queso.JPG" alt="Tarta de queso">
        <li>Tarta Xixonesa</li>
        <img src="/assets/images/Xixonesa.JPG" alt="Tarta de xixonesa">
        <li>Pastel de Zanahoria</li>
        <img src="/assets/images/carrot.jpg" alt="Tarta de carrot">
        <li>Brownies de Nuez</li>
        <img src="/assets/images/browne.JPG" alt="Brownies">
    </ul>
</body>
</html>
