<!DOCTYPE html>
<html>
<head>
    <title>Menú de Repostería Casera</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style> 
       body {
        background-image: url("/assets/images/tendencias-pan-llopartec.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        font-family: 'Arial', sans-serif;
        color: #000000;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    }
    .card-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    </style>

</head>
<body>
    <h1 class="text-center mt-4 mb-4">Nuestro Menú</h1>
    <div class="m-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col ">
            <div class="card h-100 d-flex flex-column ">
              <img src="/assets/images/Xixonesa.JPG" class="card-img" alt="Tarta de xixonesa">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Tarta Xixonesa</h5>
                <p class="card-text flex-grow-1">La Tarta Xixonesa, procedente de Gijón, Asturias, se caracteriza por su exquisita combinación de capas. En su base, una fina masa de hojaldre o quebrada proporciona una textura crujiente. El relleno, compuesto por natillas o crema pastelera con notas de vainilla, añade suavidad al conjunto. La culminación de la tarta es un merengue italiano tostado, que brinda una capa crujiente y un contraste de sabores..</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 d-flex flex-column">
              <img src="/assets/images/carrot.jpg" class="card-img" alt="Tarta de carrot">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Pastel de Zanahoria</h5>
                <p class="card-text flex-grow-1">La Tarta de Zanahoria, reconocida por su sabor húmedo y reconfortante, fusiona zanahorias finamente ralladas con harina, azúcar, huevos y aceite. En ocasiones, se incorporan nueces o pasas para aportar crujiente y dulzura adicional. Para rematar, un glaseado de queso crema cubre la tarta, creando una armonía perfecta entre lo dulce y lo cremoso.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 d-flex flex-column">
              <img src="/assets/images/browne.JPG" class="card-img" alt="Brownies">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Brownies de Nuez</h5>
                <p class="card-text flex-grow-1">El Brownie de Nueces con Chocolate ofrece una experiencia decadente. Su base densa combina chocolate, mantequilla, azúcar, huevos y harina. Las nueces se integran para proporcionar un toque crujiente y un sabor a frutos secos. Al hornearse, el brownie desarrolla una costra crujiente en la parte superior, mientras mantiene un interior suave y húmedo, haciendo de este postre una deliciosa indulgencia, ya sea disfrutado solo o acompañado de una bola de helado.</p>
              </div>
            </div>
          </div>
        </div>
        <a href="/index.html" class="mt-3 btn btn-light text-dark">Volver a la página principal</a>      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>